html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	background: #1695A3;
	color: #F3FFE2;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 20px 0 0;
	color: #F3FFE2;
}
.effectButtons,
.optionButtons {
	margin: 15px auto;
	display: block;
	text-align: center;
}
.optionButtons button {
	height: 30px;
	background: #ACF0F2;
	border: 1px solid transparent;
	border-radius: 2px;
	font-weight: bold;
}
.container {
	background: #000;
	width: 960px;
	height: 960px;
	margin: 0 auto;
	padding: 0;
	font-size: 0;  /*doing this removes spaces between divs*/

}
.square {
	display: inline-block;
	background: #225378;
	margin: 0;
	padding: 0;
	vertical-align: top;
}