html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 20px 0 0;
}
#container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background: orange;
}
.sketch {
	display: inline-block;
	background: #225378;
	margin-bottom: -4px;
	padding: 0;
}